﻿@{
    ViewData["Title"] = "Animal help";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать </h1>
    <h2> в фонд помощи бездомным животным!</h2>
    <a asp-action="SponsorForm">Стать спонсором сейчас</a>
</div>
