﻿@model Sponsors
<div>
	<h3 class="text-center">Пожалуйста, заполните форму!</h3>
	
	<form asp-action="SponsorForm" method="post">
		<div>
			<label asp-for="Name">Шаг 1.</label>
			<input class="form-control Введите Ваше имя" type="text" placeholder="Введите Ваше имя">
		</div>
		<br></br>
		<div>
			<label asp-for="Email">Шаг 2.</label>
			<input class="form-control Введите Ваш Email" type="text" placeholder="Введите Ваш Email">
		</div>
		<br></br>
		<div>
			<label asp-for="Comment">Шаг 3.</label>
			<textarea asp-for="Comment" class="form-control Здесь Вы можете оставить Ваш комментарий" type="text" placeholder="Здесь Вы можете оставить Ваш комментарий"> </textarea>
		</div>
		<br></br>
		<div> 
			<label asp-for="PaymantMethod">Шаг 4.</label>
			<select asp-for="PaymantMethod">
				<option selected>Выберите способ оплаты</option>
				<option value="Webmoney">С помощью электронного кошелька</option>
				<option value="bank_transfer">Банковский перевод</option>
				<option value="Erip">Через Систему </option>
			</select>
		</div>
		<br></br>
		<button type="submit" class="btn btn-outline-primary col-6 mx-auto">Сделать перевод</button>


	</form>
</div>